@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --green: #00bf74;
  --dark-green: #1b7b7f;
  --text: #333333;
  --white: #f0f7fa;
  --input-border: #d1dae2;
  --shadow: rgba(0, 153, 92, 0.346);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.p20 {
  padding: 20px;
}

#left-area {
  background-color: var(--white);
  min-height: 100vh;
}

#right-area {
  height: 100vh;
}

#right-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.header {
  padding: 10px;
  color: var(--white);
  background-color: var(--text);
}

.header .wrapper {
  align-items: center;
  flex-direction: row;
}

.logo {
  display: flex;
  justify-content: flex-end;
  order: 1;
}

.logo img {
  height: 52px;
  width: auto;
}

.al h1 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.inner-form {
  max-width: 400px;
  margin: 80px auto;
  width: 100%;
  box-sizing: border-box;
}

.row {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: var(--text);
  margin-bottom: 8px;
  font-weight: 700;
  text-align: right;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  background-color: var(--white);
  font-size: 14px;
  text-align: right;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1px solid var(--shadow);
  box-shadow: 0px 0px 4px var(--shadow);
}

.btn {
  width: 100%;
  padding: 14px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow: 0 2px 4px var(--shadow);
}

.btn:hover {
  background-color: var(--dark-green);
  box-shadow: 0 4px 6px var(--shadow);
}

.alertMsg {
  font-size: 16px;
  padding: 20px 10px;
  position: fixed;
  bottom: 5%;
  left: 2%;
  border-radius: 10px;
  z-index: 999;
  height: auto;
  display: none;
  color: red;
  background-color: rgba(255, 228, 228, 0.75);
  box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
  animation: showFromLeft 0.3s linear;
}

.successMsg {
  font-size: 16px;
  padding: 20px 10px;
  position: fixed;
  bottom: 5%;
  left: 2%;
  border-radius: 10px;
  z-index: 999;
  height: auto;
  display: none;
  color: #008000;
  background-color: rgba(218, 249, 223, 0.75);
  box-shadow: 0px 0 10px 0px rgb(11 205 61 / 50%);
  animation: showFromLeft 0.3s normal;
}

@keyframes showFromLeft {
  0% {
    opacity: 0;
    margin-left: -100%;
  }
  25% {
    opacity: 0.2;
    margin-left: -50%;
  }
  35% {
    opacity: 0.4;
    margin-left: -20%;
  }
  50% {
    opacity: 0.8;
    margin-left: -15%;
  }
  65% {
    opacity: 0.9;
    margin-left: -12%;
  }
  75% {
    opacity: 0.9;
    margin-left: -10%;
  }
  80% {
    opacity: 0.9;
    margin-left: -8%;
  }
  85% {
    opacity: 0.95;
    margin-left: -6%;
  }
  90% {
    opacity: 0.95;
    margin-left: -4%;
  }
  95% {
    opacity: 0.95;
    margin-left: -2%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

